<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="Jellyflix Trending Row">

        <service
            android:name=".TrendingEntry"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.jellyflix.plugin.ENTRY" />
            </intent-filter>
            <meta-data android:name="plugin.entry"   android:value="com.jellyflix.sample.trending.TrendingPlugin" />
            <meta-data android:name="plugin.name"    android:value="Trending This Week" />
            <meta-data android:name="plugin.version" android:value="0.1.0" />
            <meta-data android:name="plugin.permissions" android:value="home-rows,network" />
        </service>

    </application>
</manifest>
